@import "tailwindcss";

:root {
  --background: #ffffff;
  --background-secondary: #8d87e3;
  --background-hover: #f3f3ff;
  --background-reversed: #2d2b3d;

  --background-shine: #c0bbff;

  --text-color: #38364b;
  --text-hover: #756fc2;
  --text-positive: #5dac5d;
  --text-noticed: #e38f28;

  --border-color: #8580db;
  --border-reversed: black;

  --gh-level-0: #d8d7dfc8;
  --gh-level-1: #115e59;
  --gh-level-2: #0d9488;
  --gh-level-3: #14b8a6;
  --gh-level-4: #2dd4bf;
}

html.dark {
  --background: #191824;
  --background-secondary: #444073;
  --background-hover: #202036;
  --background-reversed: #ffffffb4;

  --background-shine: #7672e17b;

  --text-color: #ffffff;
  --text-hover: #d5d4f7;
  --text-positive: #4c8d4c;
  --text-noticed: #e1aa44;

  --border-color: #423e6b;
  --border-reversed: #d5d4f7;

  --gh-level-0: #444073c8;
  --gh-level-1: #115e59;
  --gh-level-2: #0d9488;
  --gh-level-3: #14b8a6;
  --gh-level-4: #2dd4bf;
}

@layer components {
  .btn-glass {
    @apply top-2 z-50 p-2.5 rounded-full backdrop-blur-xl border-2 transition-all duration-300 shadow-xl cursor-pointer lg:hover:scale-105 active:scale-95 flex items-center justify-center gap-1 font-bold text-xs;

    @apply bg-black/40 border-black/15 text-white hover:border-black/50 hover:bg-black/60;
  }

  .dark .btn-glass {
    @apply bg-white/80 border-[var(--background-hover)] text-black/70 hover:border-white/50 hover:bg-white/80;
  }
}

@theme {
  --font-bungee: var(--font-bungee);
}

body {
  background: var(--background);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.shine-card::before {
  position: absolute;
  content: "";
  width: 350px;
  height: 100%;
  background-color: var(--background-shine);
  z-index: -10;
  top: 0;
  left: -100%;
  transform: skewX(-45deg);
  filter: blur(50px);
  opacity: 0.2;

  transition: left 0.75s ease-in-out;
}

.shine-card:hover::before {
  left: 200%;
}

@keyframes walk-and-respawn {
  0% {
    left: 0%;
    transform: scaleX(-1) scaleY(0);
    opacity: 0;
  }
  2% {
    left: 0%;
    transform: scaleX(-1) scaleY(1);
    opacity: 1;
  }
  90% {
    left: 95%;
    transform: scaleX(-1) scaleY(1);
    opacity: 1;
  }
  95%,
  97% {
    left: 95%;
    transform: scaleX(-1) scaleY(0);
    opacity: 0;
  }
  98% {
    left: 0%;
    transform: scaleX(-1) scaleY(0);
    opacity: 0;
  }
  100% {
    left: 0%;
    transform: scaleX(-1) scaleY(0);
    opacity: 0;
  }
}

.animate-walk {
  transform-origin: bottom center;
  animation: walk-and-respawn 40s infinite linear;
}

@keyframes chocobo-run {
  0% {
    left: 0%;
    transform: translateX(-100%);
  }
  80% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

.animate-chocobo-run {
  position: relative;
  animation: chocobo-run 10s linear infinite;
}
